#misCursos {
    margin-top: 50px;
    padding: 0%;
}

#botones {
    position: relative;
    top: 20px;
    text-align: center;
}

.botonesCursos {
    text-align: right;
}

#file{
    width: 200px;
}

table>thead{
    background-color:grey;
}

.dataTables_paginate a {
    padding: 6px 9px !important;
    background: #ddd !important;
    border-color: #ddd !important;
}

