#containerMarco {
    padding: 40px;
    margin-top: 50px;
    border: rgb(138, 7, 7) 3px solid;
    border-radius: 20px;
}

.input-group {
    margin: 20px 0px;
}

#botones {
    margin-top: 40px;
    text-align: center;
}