#logo {
    width: 35%;
    height: auto;
    margin-left: 35px;
    margin-top: 10px;
}

.registrarse {
    text-align: center;
    margin-top: 15px;
}

#section {
    margin-top: 80px;
}

#parrafo {
    float: left;
    margin-left: 90px;
}

#ejemplo1 {
    position: relative;
    left: 110px;
}

#articulo {
    float: left;
    margin-left: 100px
}

#aside {
    margin-right: 50px;
}

#tarjetas {
    display: inline-block;
    position: relative;
    left: 400px;
    width: 60%;
}

.footer {
    background: #333;
    color: #fff;
    padding: 8px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 5px;
}