header{
	min-height: 100px;
}
#btnCrearCuenta{
	border-radius: 20px;
}
#btnIniciarSesion{
	border-radius: 10px;
	margin-left: 20px;
	border: 2px solid;

}

.fotoCentrada{
	padding: auto;
}

img{  
  display:flex;
  margin:0 auto;
}

a{
	color: black;
	text-decoration: none;
}

#fotoCentrada{
	margin: auto;
}

#divContenedor{
	border-radius: 30px;
}